<div class="header">
    <div class="navbar">
        <h1 class="logo">
            <span class="text-primary">
                <i class="fa-solid fa-leaf"></i>
            Local</span>Baazaar
        </h1>
        
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li class="audio">
                    <span  (click)="toggleAudio()">
                        <i class="fa-solid fa-volume-high primary-color"  [class.play-audio] = "audioFlag" *ngIf="audioFlag"></i>
                        <i class="fa-solid fa-volume-xmark danger-color" [class.pause-audio] = "!audioFlag" *ngIf="!audioFlag"></i>
                    </span>
                </li>
            </ul>
        </nav>

        
    </div>
</div>