<div class="container">
    <div class="count-down">
        <div class="date-card">
            <div class="date-time-row-1">{{months}}</div>
            <div class="date-time-row-2">Months</div>
        </div>
        <div class="date-card">
            <div class="date-time-row-1">{{days}}</div>
            <div class="date-time-row-2">Days</div>
        </div>
        <div class="date-card">
            <div class="date-time-row-1">{{minutes}}</div>
            <div class="date-time-row-2">Minutes</div>
        </div>
        <div class="date-card">
            <div class="date-time-row-1">{{seconds}}</div>
            <div class="date-time-row-2">Seconds</div>
        </div>
    </div>
</div>